body {
	margin: 0;
	font-family: 'Lato', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code {
	font-family: 'Lato', sans-serif;
} */

#disqus_thread {
	position: relative;
}
#disqus_thread:after {
	content: '';
	display: block;
	height: 55px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
}

/* LOGIN PAGE */
.login_btn,
.btn_clear {
	background-color: #fd2d01 !important;
	color: #4e5166 !important;
	width: 100% !important;
}

.login_btn:hover,
.btn_clear:hover {
	background-color: #4e5166 !important;
	color: #fd2d01 !important;
}

/* HEADER COMPONENT */
.logo {
	width: 35px;
}

.brand_wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.header-text {
	color: #4e5166;
	font-weight: 500;
	margin-top: 1.25rem;
	font-size: 1.0625rem;
	cursor: pointer;
	padding: 5px;
}

.user_infos {
	margin: 1.5rem 2.5rem 0 0;
}

.search-icon {
	cursor: pointer;
}

.notifications {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #fff;
	color: #4e5166;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid;
	width: 300px;
}

.notification {
	padding: 5px;
	font-size: 14px;
}

/* ADD POST PAGE */
.preview_wrapper,
.image_preview {
	width: 100%;
}

.preview_wrapper {
	position: relative;
}

.close_preview {
	position: absolute;
	right: 5%;
	font-size: 20px;
	top: 2%;
}

.btn_post {
	margin-top: 10px;
	background-color: #ffd7df !important;
	color: #4e5166 !important;
	width: 100% !important;
}

.btn_post:hover {
	background-color: #4e5166 !important;
	color: #ffd7df !important;
	width: 100% !important;
}

/* POSTTOUR COMPONENT */
.info_wrapper {
	margin: 20px 0 0 20px;
	text-align: left;
}
.top_left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #4e5166;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

.btn-like {
	margin-right: 35px;
	margin-bottom: 1px !important;
}

.tag_card {
	color: #fd2d01;
}

.tag_card:hover {
	color: #fd2b01b0;
}

.tagErrMsg {
	color: #f93154;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
}

.badge_custom {
	text-align: left;
	margin: 10px 0 0 20px;
}

.admin_actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-body {
	padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
}

.delete_btn {
	/* background-color: #fd2d01 !important; */
	color: #4e5166 !important;
	/* width: 100% !important; */
	border-radius: 4px;
	margin-bottom: 10px;
}

.delete_btn:hover {
	background-color: #4e5166 !important;
	color: #fd2d01 !important;
}

/* TAGPOST COMPONENT */
.tagPost_btn {
	background-color: #fd2d01 !important;
	color: #4e5166 !important;
	width: 100% !important;
	border-radius: 6px !important;
}

.tagPost_btn:hover {
	background-color: #4e5166 !important;
	color: #fd2d01 !important;
}

/* RELATEDPOST COMPONENT */
.related-title {
	overflow: hidden;
	text-align: center;
	margin: 20px 0 20px 0;
}

.related-title::before,
.related-title::after {
	background-color: #4e5166;
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.related-title::before {
	right: 0.5em;
	margin-left: -50%;
}

.related-title::after {
	left: 0.5em;
	margin-right: -50%;
}

.tag_card-related {
	margin-left: 20px;
}

/* POPULARTAGS COMPONENT */
.title {
	font-size: 22px;
	color: #fd2d01;
}

.tag-label ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -27px;
}

.tag {
	list-style: none;
	display: flex;
	height: 28px;
	background-color: #ffd7df;
	font-size: 14px;
	font-weight: 400;
	align-items: center;
	padding: 0 12px;
}

/* ADDEDITPOST COMPONENT CATEGORY */
.category_dropdown {
	width: 100%;
	border-radius: 4px;
	height: 35px;
	border-color: #ffd7df;
	color: #4e5166;
	background-color: #fff;
}

.category_error_message {
	color: #f93154;
	text-align: left;
	font-size: 14px;
}

/* PROFILE COMPONENET */
.info {
	font-size: 16px !important;
	color: #4e5166 !important;
	font-weight: 400 !important;
}

.profile_btn {
	background-color: #ffd7df !important;
	color: #4e5166 !important;
	margin-bottom: 10px;
}

.profile_btn:hover {
	background-color: #4e5166 !important;
	color: #ffd7df !important;
}

.profile_btn_save {
	background-color: #01d1fd !important;
	color: #4e5166 !important;
	margin-bottom: 10px;
}

.profile_btn_save:hover {
	background-color: #4e5166 !important;
	color: #01d1fd !important;
}

.profile_btn_cancel {
	background-color: #fd2d01 !important;
	color: #4e5166 !important;
	margin-bottom: 10px;
}

.profile_btn_cancel:hover {
	background-color: #4e5166 !important;
	color: #fd2d01 !important;
}

/* PROFILE COMPONENET */
.dashboard-wrapper {
	padding: 120px;
	margin: 50px auto;
	max-width: 900px;
	align-content: center;
}

@media (max-width: 768px) {
	.dashboard-wrapper {
		padding: 50px;
	}
}
