body {
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* LOGIN PAGE */
.login_btn,
.btn_clear {
	background-color: #fd2d01 !important;
	color: #4e5166 !important;
	width: 100% !important;
}

.login_btn:hover,
.btn_clear:hover {
	background-color: #4e5166 !important;
	color: #fd2d01 !important;
}

/* HEADER COMPONENT */
.logo {
	width: 35px;
}
.header-text {
	color: #4e5166;
	font-weight: 500;
	margin-top: 0.9375rem;
	font-size: 1.0625rem;
}

.user_infos {
	margin: 1.5rem 2.5rem 0 0;
}

.search-icon {
	cursor: pointer;
}

/* ADD POST PAGE */
.preview_wrapper,
.image_preview {
	width: 100%;
}

.preview_wrapper {
	position: relative;
}

.close_preview {
	position: absolute;
	right: 5%;
	font-size: 20px;
	top: 2%;
}

.btn_post {
	margin-top: 10px;
	background-color: #ffd7df !important;
	color: #4e5166 !important;
	width: 100% !important;
}

.btn_post:hover {
	background-color: #4e5166 !important;
	color: #ffd7df !important;
	width: 100% !important;
}

/* POSTTOUR COMPONENET */
.info_wrapper {
	margin: 20px 0 0 20px;
	text-align: left;
}
.top_left {
	color: #4e5166;
	font-weight: 600;
	font-size: 18px;
}

.tag_card {
	color: #fd2d01;
}

.tagErrMsg {
	color: #f93154;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
}
